<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/pages/login.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="wrap-contents">
        <!-- <form id="form" action="/auth/signup" method="post"> -->
        <form id="form">
          <h1 class="Title">
            <img
              src="/static/images/star.png"
              alt="star"
              width="100"
              height="100"
            />
            회원가입
          </h1>
          <label for="email" class="TextInputSet">
            <span class="InputLabel">이메일</span>
            <div class="TextInput">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="이메일을 입력해주세요."
              />
            </div>
          </label>
          <label for="password" class="TextInputSet">
            <span class="InputLabel">비밀번호</span>
            <div class="TextInput">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="비밀번호를 입력해주세요."
              />
            </div>
          </label>
          <label for="firstName" class="TextInputSet">
            <span class="InputLabel">이름</span>
            <div class="TextInput">
              <input
                type="name"
                name="firstName"
                id="firstName"
                placeholder="이름을 입력해주세요."
              />
            </div>
          </label>
          <button type="submit" class="Button">로그인</button>
        </form>
      </div>
      <footer class="footer">
        Copyright © SangheonKim Corporation. All Rights Reserved.
      </footer>
    </div>
    <script>
      const form = document.getElementById("form");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = e.target.elements.email.value;
        const password = e.target.elements.password.value;
        const firstName = e.target.elements.firstName.value;

        try {
          const res = await fetch(`/api/users`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email,
              password,
              profile: {
                firstName,
              },
            }),
          });

          const data = await res.json();

          if (!res.ok) {
            throw new Error(data.details);
          }

          location.href = "/auth/login";
        } catch (error) {
          console.error(error.message);
          alert(`회원가입에 실패했습니다. ${error.message}`);
        }
      });
    </script>
  </body>
</html>
