<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./_layouts/meta.ejs') %>
  </head>
  <body>
    <h1>멤버십 목록 페이지</h1>
    <ul>
      <% memberships.forEach(function(subscription){ %>
      <li>
        <span>멤버십 이름: <%= memberships.name %></span>
        <span>멤버십 금액: <%= memberships.price %></span>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
