<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/pages/postWrite.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="wrap">
      <h1>게시글 작성</h1>
      <form id="postWriteForm">
        <label for="title">
          <span>제목</span>
          <input type="text" name="title" id="title" />
        </label>
        <label for="content">
          <span>내용</span>
          <textarea name="content" id="content"></textarea>
        </label>
        <button type="submit">작성</button>
      </form>

      <script>
        const $form = document.getElementById("postWriteForm");

        $form.addEventListener("submit", async (e) => {
          e.preventDefault();
          try {
            const title = $form.title.value;
            const content = $form.content.value;

            const cookies = document.cookie.split(";").reduce((acc, cookie) => {
              const [key, value] = cookie.split("=");
              acc[key.trim()] = decodeURIComponent(value);
              return acc;
            }, {});

            const token = `${cookies.accessToken}`;

            const res = await fetch("/api/posts", {
              method: "post",
              headers: {
                "Content-Type": "application/json",
                authorization: token,
              },
              body: JSON.stringify({ title, content }),
            });

            const data = await res.json();

            if (!res.ok) {
              throw new Error(data.details);
            }

            location.href = `/posts/${data.postId}`;
          } catch (error) {
            alert("게시글 작성에 실패했습니다.", error.message);
          }
        });
      </script>
    </div>
  </body>
</html>
