<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="/static/styles/pages/myPage.css" />
  </head>
  <body>
    <div id="wrap">
      <h1>마이 페이지</h1>
      <h2>내 프로필</h2>
      <form id="form">
        <label for="thumbnail">
          <span>프로필 사진</span>
          <img
            src="<%= user.profile.thumbnail %>"
            id="profile_thumbnail"
            width="100"
            height="100"
          />
          <input type="file" id="filename" name="filename" hidden />
        </label>
        <label>
          <span>이름</span>
          <input
            type="text"
            id="firstName"
            value="<%= user.profile.firstName %>"
          />
        </label>
        <button>수정</button>
      </form>
    </div>
    <script>
      const $form = document.querySelector("#form");
      const $filename = document.querySelector("#filename");
      const $profileThumbnail = document.getElementById("profile_thumbnail");

      // 업로드 버튼이 사라짐 -> 이미지를 클릭했을때, 파일 선택을 띄워준다
      $profileThumbnail.addEventListener("click", () => {
        $filename.click();
      });

      // input file이 바뀌는걸 감지한다.
      $filename.addEventListener("change", (e) => {
        const file = e.target.files[0];

        // 업로드되어있는 이미지로 src를 교체한다.
        $profileThumbnail.src = URL.createObjectURL(file);
        $profileThumbnail.onload = function () {
          URL.revokeObjectURL($profileThumbnail.src);
        };
      });

      const handleSubmit = async (e) => {
        try {
          e.preventDefault();

          const firstName = e.currentTarget.firstName.value;
          const file = e.currentTarget.filename.files[0];

          const formData = new FormData();

          formData.append("filename", file);

          const uploadRes = await fetch("/api/upload/image", {
            method: "post",
            body: formData,
          });

          const data = await uploadRes.json();

          const cookies = document.cookie.split(";").reduce((acc, cookie) => {
            const [key, value] = cookie.split("=");
            acc[key.trim()] = decodeURIComponent(value);
            return acc;
          }, {});

          const token = `${cookies.accessToken}`;

          const res = await fetch("/api/users/me", {
            method: "put",
            body: JSON.stringify({
              profile: {
                thumbnail: data.url,
                firstName,
              },
            }),
            headers: {
              "Content-Type": "application/json",
              authorization: token,
            },
          });

          if (!res.ok) {
            throw new Error(
              "프로필 수정에 실패했습니다.",
              await res.json()["details"]
            );
            return;
          }

          alert("프로필 수정에 성공했습니다.");
        } catch (error) {
          console.error(error);
          alert(error.message);
        }
      };

      $form.addEventListener("submit", handleSubmit);
    </script>
  </body>
</html>
